<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Django</h1>
    <ol>
        <li><a href="/read/1/">CREATE</a></li>
        <li><a href="/read/2/">UPDATE</a></li>
        <li><a href="/read/3/">DELETE</a></li>
    </ol>
    {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
        <form id="logout" method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %} <input type="hidden" />
        </form>
    {% else %}
        <a href="{% url 'users:signup' %}">회원가입</a>
        <a href="{% url 'users:login' %}">로그인</a>
    {% endif %}
</body>
</html>