{% extends "base.html" %}
{% block content %}
<h1>This is login page</h1>
<p>{{user.username}}</p>

<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% include 'users/form_errors.html' %}
    <div>
        <label>user ID</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label>password</label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit">LOGIN</button>
</form>
{% endblock %}