{% extends "base.html" %}
{% block content %}
<form method="POST" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div>
        <label>user ID</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label>password</label>
        <input type="text" name="password" id="password">
    </div>
    <div>
        <label>confirm</label>
        <input type="text" name="confirm" id="comfirm">
    </div>
    <button type="submit">SIGN UP</button>
</form>
{% endblock %}